.seccion-principal {
  width: 85%;
  min-height: 12rem;
  border-bottom: 2px solid #dcdcdc;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fafafa;
}

.total-texto {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  color: #2e7d32;
  margin-bottom: 1rem;
}

.productos-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
